@model IEnumerable<GrygierSite.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <a href="#">
                <div class="thumbnail">
                    <div class="thumbnail-image-wrapper">
                        <span class="product-price text-center">@product.Price$</span>
                        <img class="img-thumbnail img-responsive" src="../@product.ThumbnailPath" />
                    </div>
                    <span class="product-name text-center">@product.Name</span>
                </div>
            </a>
        </div>
    }
</div>