<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <h3>Subscription</h3>
                            <p>Subscribe to our newsletter, we won't spam you!</p>
                            <input type="text" class="form-control js-name" required placeholder="Your Name"/>
                            <input type="email" class="form-control js-email" required placeholder="Your Email" />
                            <input id="submit-subscribe" type="submit" value="Subscribe" class="btn btn-info form-control"/>
                        </div>
                    </form>
                    <hr class="visible-sm"/>
                </div>
                <div class="col-md-4">
                    <h3>Tags</h3>
                    @Html.Action("GetTags", "Products")
                    <hr class="visible-xs visible-sm" />
                </div>
                <div class="col-md-4">
                    <h3>Recent Posts</h3>
                    @Html.Action("GetRecentPosts", "Products")
                </div>
            </div>
        </div>
    </div>

    <div id="footer-bottom">
        <div class="container">
            <p> &copy; @DateTime.Now.Year Grygier. All Rights Reserved</p>
        </div>
    </div>

</footer>
