@model List<GrygierSite.Models.Product>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table id="products" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#products").DataTable({
                ajax: {
                    url: "/api/products",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "thumbnailPath",
                        orderable: false,
                        render: function (data, type, product) {
                            return "<a href='/products/details/"+ product.id +"'><img src='/" + data + "' class='img-responsive'/></a>";
                        }
                    },
                    {
                        data: "id"
                    },
                    {
                        data: "name",
                        render: function (data, type, product) {
                            return "<a href='/products/details/"+ product.id +"'>" + data + "</a>";
                        }
                    },
                    {
                        data: "category.name"
                    },
                    {
                        data: "price",
                        render: function (data) {
                            return "<p>" + data.toFixed(2) + "$</p>";
                        }
                    },
                    {
                        data: "id",
                        orderable: false,
                        render: function (data) {
                            return "<a href='/products/edit/" + data + "' class='js-edit' data-product-id=" + data + ">Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        orderable: false,
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-product-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#products").on("click", ".js-delete",
                function () {
                    var link = $(this);

                    bootbox.confirm({
                        title: "Delete",
                        message: "Are you sure you want to delete the product?",
                        buttons: {
                            confirm: {
                                label: 'Delete',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-default'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/products/" + link.attr("data-product-id"),
                                    method: "DELETE"
                                })
                            .done(function () {
                                toastr.success("Product successfully deleted.");
                                link.parents("tr").fadeOut(function () {
                                    (this).remove();
                                    table.draw();
                                });
                            })
                            .fail(function () {
                                toastr.error("Something unexpected happend.");

                            });
                            }
                        }
                    });
                });
        });
    </script>
}